:root {
    --color-yellow: #ffc517;
}
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}
body {
    font-family: Lato, sans-serif;
    color: #272726;
    font-size: 14px;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 110px;
}
.section-title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: var(--color-yellow);
    width: 75px;
    height: 2px;
    margin-left: -37px;
}
.btn {
    border-radius: unset;
    min-width: 170px;
}
.btn-transparent {
    border: 2px solid var(--color-yellow);
}

/* ---------------------------------------------------------------------------------------------------------------- */

.header {
    padding-top: 50px;
    padding-bottom: 50px;
}
.header .container {
    align-items: center;
    justify-content: space-between;
}
.header .nav {
    flex: 1;
    display: flex;
    justify-content: center;
}
.header .menu {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}
.header .menu_item {
    padding: 5px 15px;  
}
.header .menu_link {
    position: relative;
    padding-bottom: 5px;
}
.header .menu_link::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-yellow);
    transition: all 0.2s linear;
}
.header .menu_link:hover::after {
    width: 100%;
    left: 0;
}
.header a + a {
    margin-left: 20px;
}
.burger {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
}
.burger span {
    position: absolute;
    width: 46px;
    height: 2px;
    background: #272726;
    left: 0;
    transition: all 0.2s linear;
}
.burger.open span {
    background-color: #FFF;
}
.burger span:first-child {
    top: 7px;
}
.burger span:nth-child(2), .burger span:nth-child(3) {
    top: 24px;
}  
.burger span:last-child {
    top: 43px;
}
.burger.open span:first-child {
    top: -5px;
    opacity: 0;
}
.burger.open span:nth-child(2) {
    transform: rotate(45deg);
}
.burger.open span:nth-child(3) {
    transform: rotate(-45deg);
}  
.burger.open span:last-child {
    top: 55px;
    opacity: 0;
}
.header .open + .menu {
    /* display: flex; */
}

/*---------Begin first screen------------------------------------------------*/

.slider1 {
    position: relative;
}
.slider1 .item {
    padding-top: 43%;
    position: relative;
}
.slider1 .item1 {
    /* background-image: url("../images/banner.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-size: cover; */
    background: #CCC url("../images/banner.png") no-repeat center/cover;
}
.slick-dots {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 0;
}
.slick-dots button {
    width: 20px;
    height: 2px;
    background: #AAA;
    margin: 0 5px;
    border: none;
    outline: none;
}
.slick-active button {
    background: var(--color-yellow);
}
.button-details {
    display: inline-block;
    background: var(--color-yellow);
    color: #FFF;
    padding: 5px 15px;
    font-weight: 700;
    position: absolute;
    right: 10%;
    bottom: 10%;
}
/*---------End first screen------------------------------------------------*/
/*---------Start advantages screen------------------------------------------------*/
.advantages {
    padding-top: 100px;
    padding-bottom: 100px;
}
.advantages .item {
    position: relative;
    padding-left: 90px;
}
.advantages .item {
    /* margin-bottom: 30px; */
}
.advantages .item:last-child {
    /* margin-bottom: 0; */
}
.advantages .item:not(:last-child) {
    /* margin-bottom: 30px; */
}
.advantages .item + .item {
    margin-top: 60px;
}
[class^=col-] {
    /* border: 1px solid; */
}
.advantages .item::before {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0;
    top: 25px;
}
.advantages .item1::before {
    background-image: url("../icons/Layer-4.png");
}
.advantages .item2::before {
    background-image: url("../icons/Layer-5.png");
    width: 59px;
    height: 51px;
}
.advantages .item3::before {
    background-image: url("../icons/Layer-6.png");
}
.advantages .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
/*---------End advantages screen------------------------------------------------*/
/*---------Start services screen------------------------------------------------*/
.services {
    background-color: #f2f2f2;
    padding-top: 150px;
    padding-bottom: 150px;
}
.services .col-12 {
    padding-bottom: 30px;
}
.services .item {
    border: 1px solid #FFF;
    padding-bottom: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
}
.services .item img {
    transition: all 0.3s linear;
    filter: grayscale(1);
}
.services .item:hover {
    transform: scale(1.05);
}
.services .item:hover img {
    filter: grayscale(0);
}
.services .item .title {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    padding: 15px;
}
.services .item .description {
    flex: 1;
    padding: 0 15px 20px 15px;
}
.services .item a {
    align-self: flex-end;
    padding: 0 15px;
}
.services .item:hover {
    box-shadow: 4px 11px 27px 0px rgba(137,137,137,0.23);
    border-color: transparent;
}
/*---------End services screen------------------------------------------------*/
/*---------Start about screen------------------------------------------------*/
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}
.about .content {
    max-width: 450px;
}
.about .description {
    margin: 30px 0;
}
/*---------End about screen------------------------------------------------*/
/*---------Start footer screen------------------------------------------------*/
.footer {
    background-color: #f2f2f2;
    padding-top: 90px;
    padding-bottom: 70px;
}
.footer .wrapper > * {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}
.upperline {
    position: relative;
    padding-top: 20px;
}
.upperline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 15px;
    width: 75px;
    height: 2px;
    background-color: var(--color-yellow);
}
.footer_menu {
    padding-left: 0;
    list-style: none;
}
/*---------End footer screen------------------------------------------------*/
/*---------Start Modal screen------------------------------------------------*/
.modal-wrapper {
    padding: 15px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-wrapper.active {
    display: flex;
}
.modal-window {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
}
.modal-window span.close {
    font-size: 2rem;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all 0.2s linear;
}
.modal-window span.close:hover {
    transform: rotate(180deg);
}
/*---------End Modal screen------------------------------------------------*/